    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg ">
            <div class="modal-content btn-gradient-purple-magenta">
                <div class="modal-header" id="welcome">
                    <h5 class="modal-title  text-blue-wood" id="exampleModalLabel">Welcome to INSATCLUBS enjoy the Game!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="game" class="row  justify-content-center">
                        <p class="d-flex justify-content-center">
                            <img id="letsplay" src="/assets/img/letsplay1.gif" alt="" >
                            <button id="start" class="btn btn-outline-secondary" onclick="start()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Play Game
                            </button>
                        </p>
                        <div class="collapse row" id="collapseExample">
                            {%  for club in clubsgame %}

                                <div  class="col-sm-3 flip-card-3D-wrapper ">
                                    <div id="flip-card">
                                        <div class="flip-card-front " id="front">
                                            <img  class=" img-flip" src="/assets/img/gamecard.jpg" alt="">

                                        </div>
                                        <div class="flip-card-back ">
                                            <img class="img-flip" alt="club"   src={{ club.getImg1()}}  >
                                            <p style="display: none">{{ club.getName()}}</p>

                                        </div>
                                    </div>
                                </div>
                            {%  endfor %}
                        </div>

                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>




