<!-- ======= Products Section ======= -->

<div class="container  portfolio">

    <div class="portfolio">
        <div class="section-title">
            <h2>Products</h2>
            <p>Our Products</p>
        </div>

        {{ include('clubPage/fragments/productItem.html.twig',{'table':products})}}




    </div>
</div>


