{% for valeur in comites %}
<div class="swiper-slide">
    <div class="testimonial-item">
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
           {{ valeur.getDescription() }}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src={{ "/"~valeur.getImage() }} class="testimonial-img" alt="">
        <h3>{{ valeur.getFullname() }}</h3>
        <h4>{{ valeur.getRole() }}</h4>
    </div>
</div><!-- End testimonial item -->
{% endfor %}