<!-- ======= registration Section ======= -->
<section id="registration" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Registration</h2>
            <p>Register Your Self Now</p>
        </div>


        <form action="" method="post" role="form" class="php-email-form mt-4">
            <div class="form-group mt-3">
                <label class="col-sm-3" for="exampleFormControlInput1">First Name</label>
                <label class="col-sm-3" for="exampleFormControlInput2">Second Name</label>
                <label class="col-sm-3" for="exampleFormControlInput3">Phone Number</label>
                <input type="text" class="col-sm-3" id="exampleFormControlInput1" placeholder="Write your first name">
                <input type="text" class="col-sm-3" id="exampleFormControlInput2" placeholder="Write your second name">
                <input type="number" class="col-sm-3" id="exampleFormControlInput3" placeholder="Write your Phone number">

                <div class="form-group mt-3">
                    <label for="exampleFormControlSelect1">Faculty</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>MPI</option>
                        <option>CBA</option>
                        <option>GL</option>
                        <option>IIA</option>
                        <option>RT</option>
                        <option>IMI</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleFormControlSelect2">Level</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Motivation</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="text-center"><button type="submit">Send</button></div>

        </form>
        <!-- /form -->
    </div> <!-- ./container -->


    </div>
</section><!-- End registration Section -->