<!-- ======= Products Section ======= -->
<section id="products" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Products</h2>
            <p>Our Products</p>
        </div>




            {% set Products = [
                {'name':'Hoodie','description':'35 DT','img1':"/img/Clubs/Aerobotix/products/prod1.png",'filter':'','img2':"/img/Clubs/Aerobotix/products/prod1.png"},
                {'name':'T-Shirt','description':'28 DT','img1':"/img/Clubs/Aerobotix/products/prod2.png",'filter':'','img2':"/img/Clubs/Aerobotix/products/prod2.png"},
                {'name':'3D Impression','description':'2 DT for the 10 g','img1':"/img/Clubs/Aerobotix/products/prod3.png",'filter':'','img2':"/img/Clubs/Aerobotix/products/prod3.png"}
            ]%}

            {{ include('arbtx/fragments/productItem.html.twig',{'table':Products}) }}




    </div>
</section><!-- End Products Section -->


