<!--Social Media-->

</div>
<hr class="my-4">
</div>
<div class="container-fluid padding socials">
    <div class="row text-center padding">
        <div class="alt-font text-medium text-gradient-sky-blue-pink font-weight-500 padding-10px-lr">
            <h2>Contact</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>