<!--Clubs-->
<div class="d-flex flex-row align-items-center justify-content-center text-center margin-5px-bottom">
    <span class="w-200px h-3px bg-medium-gray"></span>
    <div class="alt-font text-medium text-gradient-sky-blue-pink font-weight-500 padding-10px-lr">
        <h2>Our Clubs</h2>
    </div>
    <span class="w-200px h-3px bg-medium-gray"></span>
</div>
<div class="overflow-visible cover-background wow animate__fadeIn" style=" visibility: visible; animation-name: fadeIn;">
    <div class="container ">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center overlap-section">


            {{ include('clubs/fragments/rotatebox.html.twig',{}) }}

        </div>
    </div>
</div>
<!--End Clubs-->