<div class="d-flex flex-row align-items-center justify-content-center text-center margin-5px-bottom">
    <span class="w-200px h-3px bg-medium-gray"></span>
    <div class="alt-font text-medium text-gradient-sky-blue-pink font-weight-500 padding-10px-lr">
        <h2>Most Recent Events</h2>
    </div>
    <span class="w-200px h-3px bg-medium-gray"></span>
</div>

<div class="container  portfolio">

    <div class="portfolio">
            {{ include('clubPage/fragments/productItem.html.twig',{'table':events}) }}

    </div>
</div>