<!-- sign in -->
<div class="modal fade" id="signinPage">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold">Sign In</h3>
                <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
            </div>

            <div class="modal-body mx-4">
                <div class="md-form">
                    <input type="email" class="form-control validate">
                    <label data-error="wrong" data-success="right">Your Email</label>
                </div>

                <div class="md-form">
                    <input type="password" class="form-control validate">
                    <label data-error="wrong" data-success="right">Your Password</label>
                    <p class="font-small blue-text d-flex justify-content-end"><a href="#" class="blue-text ml-1">Forgot Password?</a></p>
                </div>

                <div class="text-center mb-3">
                    <button type="button" class="btn btn-primary btn-block z-depth-1a">Sign in</button>
                </div>

            </div>
        </div>
    </div>
</div>
