<!--team announcement-->
<div class="container-fluid padding">
    <div class="welcome text-center">
        <span class="w-200px h-3px bg-medium-gray"></span>
        <div class="alt-font text-medium text-gradient-sky-blue-pink font-weight-500 padding-10px-lr">
            <h2>Meet The Team</h2>
        </div>
        <span class="w-200px h-3px bg-medium-gray"></span>
        <hr>
    </div>
</div>

<div class="container padding">
    <div class="row padding">
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center">
            {% for valeur in [{'img':"/assets/img/Team/Nader.jpg",'name':"Nader Ourdiane"},{'img':"/assets/img/Team/Ala.jpg",'name':"Alaeddine Fattouch"},{'img':"/assets/img/Team/Farid.jpg",'name':"Farid Adwani"},{'img':"/assets/img/Team/Salem.jpg",'name':"Salem Hamdani"}] %}
                <!-- start team member -->
                <div class="col team-style-01 text-center md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                    <figure class="border-radius-5px">
                        <div class="team-member-image">
                            <img alt="" src={{ valeur['img']}} data-no-retina="">
                            <div class="team-overlay bg-transparent-gradient-shamrock-green-light-orange"></div>
                        </div>
                        <figcaption class="align-items-center justify-content-center d-flex flex-column padding-20px-lr padding-30px-tb">
                            <span class="team-title d-block alt-font text-white">{{ valeur['name']}}</span>
                            <span class="team-sub-title text-small d-block text-white text-uppercase">Software Engineering Student</span>
                            <div class="social-icon w-100 position-absolute bottom-30px left-0px">
                                <a href="https://www.facebook.com/" target="_blank" class="text-white"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com" target="_blank" class="text-white"><i class="fab fa-instagram"></i></a>
                                <a href="https://twitter.com/" target="_blank" class="text-white"><i class="fab fa-twitter"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <!-- end team member -->
            {%  endfor %}

        </div>