<!-- Welcome message-->
<div class="container-fluid padding">
    <div class="welcome text-center">
        <hr class="my-4">
        <div class="col-12">
            <h1 class="display-4">Built with love.</h1>
        </div>
        <hr>
        <div class=col-12>
            <p class="lead">Welcome to the first tunisian website gathering a wide variety of clubs from all over our dear institute INSAT <i class="fa fa-heart" style="color:#e84545;"></i></p>
        </div>
    </div>
</div>
<!--Features-->
<div class="container padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-code"></i>
            <h3>Responsive</h3>
            <p>Coded with the latest version of bootstrap.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-check-circle"></i>
            <h3>User-friendly</h3>
            <p>Built to give you the best user experience.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fas fa-users"></i>
            <h3>Diverse</h3>
            <p>More than 20 clubs already signed up.</p>
        </div>
    </div>
    <hr class="my-4">
</div>

